<%= form_with model: @gallery, local: true do |f| %>
   <% if @gallery.errors.any? %>
     <div id="error_explanation" class="alert alert-danger">
       <ul>
         <% @gallery.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
       </ul>
     </div>
   <% end %>
   <div class="gallery-form">
     <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, placeholder: "タイトルを記述" %>
     </div>
     <div class="form-group">
       <p><%= f.file_field :image, class: 'btn btn-primary'%></p>
     </div>
     <div class="form-group">
       <%= f.label :content %>
       <%= f.text_area :content, class: 'form-control', placeholder: "内容を記述" %>
     </div>
    <div>
      <div>
       <%= f.submit '投稿', class: 'btn btn-primary' %>
      </div>
<% end %>

