<h1>Galleries#index</h1>
<div>作品一覧</div>
<div class="gallery1">
  <% @galleries.each do |gallery| %>
    <%= image_tag gallery.image.thumb300.url.to_s, class: 'image' %>
    <%= link_to gallery.title, gallery_path(gallery.id) %>
    <%= render :partial => 'tag_list', locals: { tag_list: gallery.tag_list } %>
  <% end %>
  <%= link_to '全て表示', [:galleries] %>
    <% tag_cloud(Gallery.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class %>
  <% end %>
</div>
